<!-- wp:navigation {"layout":{"type":"flex","setCascadingProperties":true,"justifyContent":"center"},"style":{"spacing":{"blockGap":"2rem","padding":{"top":"1rem","bottom":"1rem"}},"border":{"top":{"color":"#f0f0f0","width":"1px"}}},"backgroundColor":"white","textColor":"black"} -->
<!-- wp:navigation-link {"label":"Home","url":"/"} /-->
<!-- wp:navigation-link {"label":"News","url":"/news"} /-->
<!-- wp:navigation-link {"label":"Sport","url":"/sport"} /-->
<!-- wp:navigation-link {"label":"Weather","url":"/weather"} /-->
<!-- wp:navigation-link {"label":"Culture","url":"/culture"} /-->
<!-- wp:navigation-link {"label":"Business","url":"/business"} /-->
<!-- wp:navigation-link {"label":"Technology","url":"/technology"} /-->
<!-- wp:navigation-link {"label":"Health","url":"/health"} /-->
<!-- wp:navigation-link {"label":"Science","url":"/science"} /-->
<!-- /wp:navigation -->
